body
{
	font: 62.5%/1.5 "Helvetica Neue", sans-serif;
	background-color: #000;
}

h1
{
	font-size: 8em;
	color: white;
	text-align: center;
}

p
{
	font-size: 4em;
	color: lightgrey;
	text-align: center;
}

#timeBox
{
	float: left;
	width: 250px;
	height: 400px;
	margin-right: 200px;
	background-color: lime;
}

#weatherBox
{
	margin-left: 450px;
	background-color: blue;
}
